main{
    width: auto;
	height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
	padding-bottom: 50px;
}

.asthmaBox{
    width: 80%;
    display: grid;
    gap: 50px;
    text-align: center;
}

.box{
    text-align: left;
    height: 80%;
    border-radius: 30px;
    padding: 20px;

}

img{
    
}

#illustration{
    display: flex;
    justify-content: center;
    align-items: center;
}